<%= f.simple_fields_for relation do |rel| %>
  <%= render partial, f: rel %>
<% end %>
<div class='form-actions links'>
  <%= link_to_add_association 'Adicionar', f,
    relation, partial: partial %>
</div>
