<script type="text/javascript">
  var DataSourceTree = function(options) {
    this._data 	= options.data;
    this._delay = options.delay;
  }

  DataSourceTree.prototype.data = function(options, callback) {
    var self = this;
    var $data = null;

    if(!("name" in options) && !("type" in options)){
      $data = this._data;//the root tree
      callback({ data: $data });
      return;
    }
    else if("type" in options && options.type == "folder") {
      if("additionalParameters" in options && "children" in options.additionalParameters)
        $data = options.additionalParameters.children;
      else $data = {}//no data
    }

    if($data != null)//this setTimeout is only for mimicking some random delay
      setTimeout(function(){callback({ data: $data });} , parseInt(Math.random() * 500) + 200);

    //you can retrieve your data from a server using ajax call
  };

  var treeDataSource = new DataSourceTree({data: <%= objects.to_json.html_safe %>});

  $(function(){
    $('#tree1').ace_tree({
      dataSource: treeDataSource ,
      multiSelect: false,
      loadingHTML:'<div class="tree-loading"><i class="icon-refresh icon-spin blue"></i></div>',
      'open-icon' : 'icon-minus',
      'close-icon' : 'icon-plus',
      'selectable' : false,
      'selected-icon' : 'icon-ok',
      'unselected-icon' : ''
    });
  });
</script>
