<thead>
  <tr>
    <% attributes.each do |attribute| %>
      <th><%= localized_attribute(resource_class, attribute) %></th>
    <% end %>
  </tr>
</thead>

<tbody>
  <% collection.each do |record| %>
    <tr id="<%= record.id %>" class='search_row'>
      <% attributes.each do |attribute| %>
        <td><%= record[attribute] %></td>
      <% end %>
    </tr>
  <% end %>
</tbody>
