<div class="page-container row-fluid container-fluid">
  <div class="page-sidebar pagescroll">
    <div class="page-sidebar-wrapper" id="main-menu-wrapper">
      <%= render 'layouts/main_menu/user_info' %>
      <%= render 'layouts/main_menu/menu_left' %>
    </div>
  </div>
</div>
