<% collection.each do |object| %>
  <tr id="<%= dom_id object %>">
    <% resource_class.list_attributes.each do |attribute| %>
      <td>
        <%= link_to formatted_attribute(object, attribute),
          administration_cities_path(state_id: object.id, country_id: params[:country_id]) %>
      </td>
    <% end %>
  </tr>
<% end %>
