<p>Olá <%= @resource.email %>!</p>

<p>Uma solicitação de troca de senha foi feita para seu usário. Utilize o link abaixo para trocar sua senha</p>

<p><%= reset_password_link(@resource) %></p>

<p>Se você não solicitou a alteração da sua senha, ignore este e-mail.</p>
<p>Sua senha não será alterada até que você acesse o link.</p>
<p>Por favor não responda este e-mail.</p>
